{% extends 'base.html' %}


{% block page_title %}
    Write Review
{% endblock page_title %}
    

{% block content %}
<div class="font-medium text-2xl text-center my-5">Write your review</div>

{% if kind == "book" %}
<form action="{% url 'reviews:review' obj.pk %}?kind=book" method="POST" class="w-1/2 mx-auto">
    {% csrf_token %}
    {{form}}
    <button class="btn-link mt-5">Submit Review</button>
</form>
{% else %}
<form action="{% url 'reviews:review' obj.pk %}?kind=movie" method="POST" class="w-1/2 mx-auto">
    {% csrf_token %}
    {{form}}
    <button class="btn-link mt-5">Submit Review</button>
</form>
{% endif %}

{% endblock content %}
    
